@charset "ISO-8859-1";

body{
	padding: 3rem 15rem;
	background-color:black;
	color: white;
}

header{
	display: flex;
	justify-content:space-between;
}

header div{
	display: flex;
}

main{
	margin-top:2rem;
}

.table{
	text-align:center;
}

footer{
	text-align:right;
}

.a{
	border:none;
	background:none;
	color: #0d6efd;
	text-decoration:underline;
	outline:none;
	padding:none;
}